<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <title>Huddle | Group</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="{% static 'script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item huddle-logo pl-5" href="http://huddlgroup.com/">
                Huddle
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item has-dropdown" id="userDropdownContainer">
                  <a class="navbar-link" id="userDropdownTrigger">
                    <i class="fas fa-lg fa-user-circle"></i>
                  </a>
                  <div class="navbar-dropdown is-right" id="userDropdown">
                    <div class="navbar-item">
                        UserName
                    </div>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Logout</a>
                  </div>
                </div>
              </div>
            </div>
        </nav>

        <nav class="navbar is-info" role="navigation" aria-label="group navigation" id="groupNavigation">
            <div class="navbar-brand">
                <a class="navbar-item huddle-name px-5" href="">
                    "Huddle Name Goes Here"
                </a>
          
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHuddleGroup">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
          
            <div id="navbarHuddleGroup" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="#tasks-container">
                    Tasks
                </a>
          
                <a class="navbar-item" href="#calendar-container">
                    Calendar
                </a>
                
                <a class="navbar-item" href="#members-container">
                    Members
                </a>
              </div>
              <div class="navbar-end pr-5">
                <a class="navbar-item" href="/huddle/home/">
                    <i class="fas fa-lg fa-home"></i>
                </a>
              </div>

            </div>
      </nav>

      <div class="home-content has-background-light">
          <div class="container is-max-desktop">
              <div class="group-content">
                  <div id="tasks-container" style="padding-top: 75px;">
                      <p class="tab-titles">Tasks</p>
                      <hr class="hr">
                  </div>
                  <div id="calendar-container" style="padding-top: 75px;">
                      <p class="tab-titles">Calendar</p>
                      <hr class="hr">
                  </div>
                  <div id="members-container" style="padding-top: 75px;">
                      <p class="tab-titles">Members</p>
                      <hr class="hr">
                  </div> 
              </div>
          </div>
      </div>
    </body>
</html>