.home-content {
    height: 300vh;
}

.add-huddle-button {
    width: 300px;
    height: 215px;
}

.huddle-logo {
    font-size: 25px;
    font-weight: bold;
}

/* this is css code for huddle_page.html */
.huddle-name {
    font-size: 18px;
    font-weight: bold;
}

.group-content {
    padding-left: 10px;
    padding-right: 10px;
}

.tab-titles {
    font-size: 35px;
    font-weight: bold;
}

.hr {
    border: 1px solid #b7b7b7;
    margin-top: 0px;
}
 
.is-fixed-top + .home-content {
    padding-top: 26px;
}

body.fixed-nav-padding {
    padding-top: 26px; 
}

/* this is css code for login.html */

.login-body {
    padding-top: 7rem;
    padding-bottom: 3rem;
    width: 500px;
}

.bg {
    width: 100%;
    min-height: 100%;
    display: flex;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(10, 3, 107) 0%, rgb(26, 82, 171)25%, #6dcbfa 51%, #2323ca 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}
  
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}